.greeting{
  padding: 16px
}

.index-header{
  padding: 30px 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#right-header{
  display: flex;
  justify-content: flex-end;
}
