.has-events {
  font-weight: bold;
  border: 2px;
  border-style: solid;
  border-color: #bb5952;
}

.midwife-calendar{
  .has-events {
    font-weight: bold;
    border: 2px;
    border-style: solid;
    border-color: #68B4AC;
  }
}
