.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: #DC928D 1px solid;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.avatar-blueb {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: #A3C7D6 1px solid;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.avatar-large {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.avatar-small {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: #DC928D 1px solid;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.avatar-small-blue {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: #A3C7D6 1px solid;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.extra-large-avatar {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: #DC928D 1px solid;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.extra-large-avatar-blue {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: #A3C7D6 1px solid;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.avatar-extra-small {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
  border: #DC928D 1px solid;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

// .avatar-bordered {
//   width: 40px;
//   border-radius: 50%;
//   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
//   border: white 1px solid;
// }
// .avatar-square {
//   width: 40px;
//   border-radius: 0px;
//   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
//   border: white 1px solid;
// }
