.form-control {
  border-color: #c9c3c3;
  background: white;
}

::placeholder {
  color: #FFCAC2;
}


.form-label {
  margin-top: 20px;
  margin-left: 10px;
}

.icons-side {
  padding-left: 250px;
}
